# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# OpenAI
OPENAI_API_KEY=your_openai_key
OPENAI_ASSISTANT_ID=your_assistant_id

# Slack
SLACK_SIGNING_SECRET=your_slack_signing_secret
SLACK_AUTH_TOKEN=your_slack_auth_token
SLACK_APP_TOKEN=your_slack_app_token
SLACK_ALERT_CHANNEL_ID=your_alert_channel_id
SLACK_RELEASE_CHANNEL_ID=your_release_channel_id

# GitHub
GITHUB_ORG=your_github_org
CHECKLY_GITHUB_TOKEN=your_github_token
GH_WEBHOOK_SECRET=your_github_webhook_secret

# Checkly
CHECKLY_API_KEY=your_checkly_api_key
CHECKLY_ACCOUNT_ID=your_checkly_account_id
PROMETHEUS_INTEGRATION_KEY=your_prometheus_key
ATHENA_ACCESS_ENDPOINT_URL=athena_access_endpoint_url

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASEURL=


